{% extends 'base.html.twig' %}

{% block body %}

    <p><a href="{{ path('product_list') }}"><< Product List</a></p>

    <h1 id="param-title">{{ product.title }}</h1>

    <ul>
        <li>SKU - <span id="param-sku">{{ product.sku }}</span></li>
        <li>Price - <span id="param-price">{{ product.price }}</span></li>
    </ul>

    {% if product.productBaseView.productModifications %}

        <h3>Product modifications:</h3>
        <select id="modifications">
            <option value="{{ product.productBaseView.sku }}">{{ product.productBaseView.title }}</option>
            {% for modification in product.productBaseView.productModifications %}
                <option {% if product.id == modification.id %}selected{% endif %} value="{{ modification.sku }}">{{ modification.title }}</option>
            {% endfor %}
        </select>

    {% endif %}

    {% if product.productBaseView.featuresByLang(lang) %}
        <h3>Product features:</h3>
        <ul>
            {% for feature in product.productBaseView.featuresByLang(lang) %}
                <li>{{ feature.type }} - {{ feature.title }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var productApiUrl = '{{ path('product_detail_api', {sku: '__sku__'}) }}';
        var productUrl = '{{ path('product_detail', {sku: '__sku__'}) }}';
        $('#modifications').change(function () {
            var apiUrl = productApiUrl.replace(/__sku__/, $(this).val());
            var url = productUrl.replace(/__sku__/, $(this).val());
            $.ajax({
                url: apiUrl,
                dataType: 'json',
                success: function (data) {
                    for (var i in data) {
                        $('#param-' + i).text(data[i]);
                    }
                    window.history.pushState("", "", url);
                }
            });
        });
    </script>
{% endblock %}
